{% if site.covidbar or site.archivebar %}
<style>
    .notification-top-bar {
        /*position: fixed;*/
        top: 0;
        left: 0;
        line-height: auto;
        width: 100%;
        text-align: center;
        color: #FFFFFF;
        font-family: sans-serif;
        font-weight: lighter;
        font-size: 14px;
        padding: 10px;
      }
      .notification-top-bar p {
        padding: 0;
        margin: 0;
      }

      .notification-top-bar b {
        padding: 0;
        margin: 0;
        vertical-align: middle;
      }

      {% if site.archivebar %}
      .purplebar a.button {
        background: #FFF;
        border: none;
        color: #A13CDC;
        padding: 0px 8px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1em;
        font-weight: bold;
        margin: 0px 0px;
        cursor: pointer;

        border-radius: 3px;
      }
      .purplebar {
        background: #A13CDC;
      }
      {% endif %}
      {% if site.covidbar %}
      .greenbar {
        background: #1ABC9C;
      }
      .greenbar a.button {
        background: #FFF;
        border: none;
        color: #4CAF50;
        padding: 0px 8px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1em;
        font-weight: bold;
        margin: 0px 0px;
        cursor: pointer;

        border-radius: 3px;
      }
      {% endif %}
</style>
{% endif %}

{% if site.archivebar %}
<div class="notification-top-bar purplebar">
  <p><i style="font-size:1em" class="fa fa-exclamation-circle" aria-hidden="true" alt="notice"></i> <b>This website is archived mirror. </b>&nbsp;&nbsp;&nbsp;&nbsp;<small><a class="button" target="_blank;" href="https://sqm2022.pusan.ac.kr{{page.url}}">Go to Official Website</a></small></p>
</div>
{% endif %}

{% if site.covidbar %}
<div class="notification-top-bar greenbar">
  <p><i style="font-size:1em" class="fa fa-exclamation-circle" aria-hidden="true" alt="notice"></i> <b>Quarantine when entering Republic of Korea can be waived for full-vaccinated people by Q-Code after 1 April 2022</b>&nbsp;&nbsp;&nbsp;&nbsp;<small><a class="button" href="/pages/travel-info/covid19/">Go to Detail</a></small></p>
</div>
{% endif %}