<!-- Footer -->
<footer> 
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3><i class="fa fa-map-marker"></i> Contact:</h3>
        <p class="footer-contact">
          {{ site.company_name }} <br>
          Email: {{ site.company_email }}<br>
        </p>
      </div>
      <div class="col-md-4">
        <h3><i class="fa fa-external-link"></i> Links</h3>
        <p><a href="https://indico.cern.ch">Indico Home</a></p>
      </div> 
      <div class="col-md-4">
        <h3><i class="fa fa-external-link"></i> Sponsors</h3>
        <div class="row services-row services-row-head services-row-1" style="width:80%; margin-left:10%; margin-right:10%;">
          <div style ="float: left; width: 25%;">
              <img src="/assets/img/slider/sponsor.png" width = "50%" alt="sponsor">
          </div>
          <div style ="float: left; width: 25%;">
              <img src="/assets/img/slider/sponsor.png" width = "50%" alt="sponsor">
          </div>
          <div style ="float: left; width: 25%;">
              <img src="/assets/img/slider/sponsor.png" width = "50%" alt="sponsor">
          </div>
          <div style ="float: left; width: 25%;">
              <img src="/assets/img/slider/sponsor.png" width = "50%" alt="sponsor">
          </div>
      </div>
      </div>    
    </div>
  </div>

  <div class="copyright text center">
    <p>&copy; Copyright {{ site.time | date: '%Y' }}, <a href="https://keistad-root.github.io">Yongjun Choi</a>. <br>Theme ported by <a href="https://melvinchng.github.io/" target="_blank">Melvin Ch'ng</a></p>
  </div>
</footer>