<!-- Header -->
<nav id="navbar-section" class="navbar navbar-default navbar-static-top navbar-sticky" role="navigation">
  <div class="banner">
  <div id="logo">
    <a href="/"><img src="/assets/img/slider/SQMlogo.png" class="logos"></a>
  </div>
  <div id="navbar-spy" class="collapse navbar-collapse navbar-responsive-collapse">
    <ul id="navbar-ul" class="nav navbar-nav">
      <li>
        <a href="https://indico.cern.ch">INDICO</a>
      </li>
      <li>
        <a href="/iac">COMMITTEES</a>
      </li>
      <li>
        <a href="/scientific">SCIENTIFIC INFO</a>
      </li>
      <li>
        <a href="/calander">GENERAL INFO</a>
      </li>
      <li>
        <a href="/transport">TRAVEL INFO</a>
      </li>
      <li>
        <a href="/history">HISTORY</a>
      </li>
      <li>
        <a href="/contact">CONTACT US</a>
      </li>

    </ul>         
  </div>
  </div>
</nav>

<!-- End Header -->