<!-- Header -->
<nav id="navbar-section" class="navbar navbar-default navbar-static-top navbar-sticky" role="navigation">
  <div class="banner">
  <div class="container" id="logo">
    <div class="col-sm-9">
    <a href="/"><img src="/assets/img/logo/SQM2022-logo-simple.png" class="logos" style="max-height:180px"></a>
    <div class="container" style="height=100%; vertical-align: center;">
      <h3>
      The 20th International Conference on Strangeness in Quark Matters 2022<br>
      13-18 Jun 2022, Busan, Republic of Korea
      </h3>
    </div>
    </div>
    <div class="col-sm-3">
      Conference Info: <a href="mailto:sqm2022@hipex.phys.pusan.ac.kr">sqm2022@hipex.phys.pusan.ac.kr</a> 
    </div>
  </div>
  <div id="navbar-spy" class="/*collapse*/ navbar-collapse navbar-responsive-collapse">
    <ul id="navbar-ul" class="nav navbar-nav" style="text-align: center">
      <li style="width: 14%; min-width: 165px;">
        <a href="https://indico.cern.ch/e/sqm2022" target="_blank">INDICO</a>
      </li>
      <li style="width: 14%; min-width: 165px;">
        <a href="/pages/committees/international-advisory-committee">COMMITTEES</a>
      </li>
      <li style="width: 14%; min-width: 165px;">
        <a href="/pages/scientific-info/timetable">SCIENTIFIC INFO</a>
      </li>
      <li style="width: 14%; min-width: 165px;">
        <a href="/pages/general-info/deadlines">GENERAL INFO</a>
      </li>
      <li style="width: 14%; min-width: 165px;">
        <a href="/pages/travel-info/transport-information">TRAVEL INFO</a>
      </li>
      <li style="width: 14%; min-width: 165px;">
        <a href="/pages/history/history">HISTORY</a>
      </li>
      <li style="width: 14%; min-width: 165px;">
        <a href="/contact">CONTACT US</a>
      </li>
    </ul>        
  </div>
  </div>
</nav>

<!-- End Header -->