<!-- Header -->
<nav id="navbar-section" class="navbar navbar-default navbar-static-top navbar-sticky" role="navigation">
  <div class="banner">
  <div id="logo">
    <a href="/"><img src="/assets/img/slider/SQMlogo.png" class="logos"></a>
  </div>
  <div id="navbar-spy" class="collapse navbar-collapse navbar-responsive-collapse">
    <ul id="navbar-ul" class="nav navbar-nav" style="text-align: center">
      <li style="width: 14%; min-width: 165px;">
        <a href="https://indico.cern.ch/e/sqm2022" target="_blank">INDICO</a>
      </li>
      <li style="width: 14%; min-width: 165px;">
        <a href="/pages/committees/international-advisory-committee">COMMITTEES</a>
      </li>
      <li style="width: 14%; min-width: 165px;">
        <a href="/pages/scientific-info/timetable">SCIENTIFIC INFO</a>
      </li>
      <li style="width: 14%; min-width: 165px;">
        <a href="/pages/general-info/deadlines">GENERAL INFO</a>
      </li>
      <li style="width: 14%; min-width: 165px;">
        <a href="/pages/travel-info/transport-information">TRAVEL INFO</a>
      </li>
      <li style="width: 14%; min-width: 165px;">
        <a href="/pages/history/history">HISTORY</a>
      </li>
      <li style="width: 14%; min-width: 165px;">
        <a href="/pages/contact">CONTACT US</a>
      </li>
    </ul>        
  </div>
  </div>
</nav>

<!-- End Header -->