<style>
    .logo-post {
        width: 100%;
    }
    .logo-post > div{
        width: 100%;
        display: inline-block;
    }
    .logo-post > div > div{
        width: 50%;
        max-height: 300px;
        display: inline-block;
        vertical-align: middle;
    }
    .logo-post > div > div > img{
        width: 100%;
        
    }

    .logo-table img{
        padding: 10px;
        width: 100%;
    }
    .logo-table > tr{
        width: 100%;
    }
    
    .logo-table > tr > td{
        width: 50%;
    }
</style>

<table>
    <tbody class="logo-table">
        <tr>
            <td><img src="/assets/files/sqm2022-logo/PNG/T1-long-4x.png"></td>
            <td><img src="/assets/files/sqm2022-logo/PNG/T1-short-4x.png"></td> 
        </tr>
        <tr>
            <td>Type 1-1 (Long tide)</td>
            <td>Type 1-2 (Short tide)</td> 
        </tr>
        <tr>
            <td><br></td>
            <td><br></td> 
        </tr>
        <tr>
            <td><img src="/assets/files/sqm2022-logo/PNG/T2-4x.png"></td>
            <td><img src="/assets/files/sqm2022-logo/PNG/T3-4x.png"></td> 
        </tr>
        <tr>
            <td>Type 2</td>
            <td>Type 3</td> 
        </tr>
        <tr>
            <td><br></td>
            <td><br></td> 
        </tr>
        <tr>
            <td><img src="/assets/files/sqm2022-logo/PNG/T4-4x.png"></td>
            <td></td> 
        </tr>
        <tr>
            <td>Type 4</td>
            <td></td> 
        </tr>
    </tbody>
</table>
