<style>
    .logo-post {
        width: 100%;
    }
    .logo-post > div{
        width: 40%;
        display: inline-block;
    }
    .logo-post > div > img{
        width: 100%;
        
    }
</style>

<div class="logo-post">
<div>
<img src="/assets/files/sqm2022-logo/jpg/SQM2022-Logo_type1.jpg"><br>
Type 1
</div><div>
<img src="/assets/files/sqm2022-logo/jpg/SQM2022-Logo_type2.jpg"><br>
Type 2
</div><div>
<img src="/assets/files/sqm2022-logo/jpg/SQM2022-Logo_type3.jpg"><br>
Type 3
</div><div>
<img src="/assets/files/sqm2022-logo/jpg/SQM2022-Logo_type4.jpg"><br>
Type 4
</div>
</div>