
<style>
  .sidebar-link a{
    color: white;
  }
  .sidebar-link a:hover {
    color: red;
  }
  .sidebar-link li{
    list-style: none;
  }
</style>

<div class="side-left col-sm-4 col-md-4">
  <h3 class="lead"> {{ page.categoryname }} </h3><hr>
  <ul class="sidebar-link">
    {% assign posts = site.pages | sort_natural: 'order' %}
    {% for pp in posts %}
    {% if pp.categoryname == page.categoryname %}
    <li class="sidebar-link"><a href="{{ pp.url }}"> {{ pp.title }}</a></li>
    {% endif %}
    {% endfor %}
  </ul>
</div>

{% comment %}
{% for pp in site.pages | sort: "order" %}
{% if pp.category == page.category %}

{% endif %}
{% endfor %}
{% endcomment %}