---
layout: default
---
<style>
    .home-list li{
        list-style: none;
    }
</style>
<!-- Begin #carousel-section -->
<section id="carousel-section" class="section-global-wrapper"> 
    <div class="container-fluid-kamn">
        <div class="row">
            <div id="carousel-1" class="carousel slide" data-ride="carousel">

                <!-- Indicators -->
                <ol class="carousel-indicators visible-lg">
                    <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-1" data-slide-to="1"></li>
                    <li data-target="#carousel-1" data-slide-to="2"></li>
                </ol>
        
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <!-- Begin Slide 1 -->
                    <div class="item active">
                        <a href="#information">
                        <img src="/assets/img/slider/gate1.jpg" width="100%" height="600" alt="Image of first carousel">
                        <div class="carousel-caption">
                            <h3 class="carousel-title hidden-xs">Welcome to SQM2022 At Busan</h3>
                            <p class="carousel-body">Haeundae Beach and Marine City</p>
                        </div>
                        </a>
                    </div>
                    <!-- End Slide 1 -->

                    <!-- Begin Slide 2 -->
                    <div class="item">
                        <a href="#information">
                        <img src="/assets/img/slider/gate2.jpg" width="100%" height="600" alt="Image of second carousel">
                        <div class="carousel-caption">
                            <h3 class="carousel-title hidden-xs">Welcome to SQM2022 At Busan</h3>
                            <p class="carousel-body">Gwang-an Bridge</p>
                        </div>
                        </a>
                    </div>
                    <!-- End Slide 2 -->

                    <!-- Begin Slide 3 -->
                    <div class="item">
                        <a href="#information">
                        <img src="/assets/img/slider/gate3.jpg" width="100%" height="600" alt="Image of third carousel">
                        <div class="carousel-caption">
                            <h3 class="carousel-title hidden-xs">Welcom to SQM2022 At Busan</h3>
                            <p class="carousel-body">Haewoljoeong in Bongbaek Island</p>
                        </div>
                        </a>
                    </div>
                    <!-- End Slide 3 -->
                </div>
        
                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-1" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-1" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- End #carousel-section -->


<!-- Begin #services-section -->
<section id="services" class="services-section section-global-wrapper">
    <div class="container">
        <div class="row">
            <div class="services-header">
                <!-- <h3 id="information" class="services-header-title">Informations</h3> -->
                <h3 class="services-header-body" style="padding-left:8%; padding-right:8%;"><em> The 20th International Conference on Strangeness in Quark Matter </em>  </h3><hr>
                <p class="services-body" style="font-size:17px; padding-left:12%; padding-right:12%;">This conference will focus on new experimental and theoretical developments on the role of strange and heavy-flavour quarks in high energy heavy-ion collisions and in astrophysical phenomena. </p>
                <p class="services-body" style="font-size:17px; padding-left:12%; padding-right:12%;">SQM 2022 will be the 20th edition of the conference series following the recent events in New York (2021), Bari (2019) and Utrecht (2017). The full history of the SQM conferences is listed <a href="/pages/history/history/">here</a>. </p><hr><hr>
                <p class="services-header-body"><em>The scientific issues</em></p><hr>
                <ul class="home-list" style="padding-left:12%; padding-right:12%">
                    <li class="services-body" style="font-size:17px;">Strangeness and heavy quark production in nuclear collisions and hadronic interactions</li>
                    <li class="services-body" style="font-size:17px;">Hadron resonances in the sQGP(strongly-interecting Quark-Gluon Plasma)</li>
                    <li class="services-body" style="font-size:17px;">Bulk matter phenomena associated with strange and other heavy quarks</li>
                    <li class="services-body" style="font-size:17px;">Strangeness in astrophysics</li>
                    <li class="services-body" style="font-size:17px;">QCD phase structure</li>
                    <li class="services-body" style="font-size:17px;">Collectivity in small systems</li>
                    <li class="services-body" style="font-size:17px;">Open questions and new developments</li>
                </ul><hr>
            </div>
        </div>
      
        <!-- Begin Services Row 1 -->
        <div class="row services-row services-row-head services-row-1">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <a href="/pages/general-info/deadlines/"><div class="services-group wow animated fadeInLeft" data-wow-offset="40">
                    <p class="services-icon"><span class="fa fa-calendar fa-5x"></span></p>
                    <h4 class="services-title">Important Dates</h4>
                </div>
            </a>
            </div>
        
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <a href="/pages/travel-info/transport-information/"><div class="services-group wow animated zoomIn" data-wow-offset="40">
                    <p class="services-icon"><i class="fa fa-plane fa-5x"></i></p>
                    <h4 class="services-title">Travels</h4>
                </div>
            </a>
            </div>
        
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <a href="/pages/IUPAP-policy"><div class="services-group wow animated fadeInRight" data-wow-offset="40">
                    <p class="services-icon"><i class="fa fa-file fa-5x"></i></p>
                    <h4 class="services-title">IUPAP Policy Statements</h4>
                </div>
            </a>
            </div>
        </div>

        <style>
            .logocard {
                position: relative;
                display: inline-block;
                top: 0;
                left: 0;
            }
            .logocard .img-bottom {
                height: 5em;
            }
            .logocard .img-top {
                display: none;
            }
            .logocard:hover .img-top {
                display: inline;
                height: 5em;
            }
            .logocard:hover .img-bottom {
                display: none;
                height: 0em;
            }

        </style>
        <div class="row services-row services-row-head services-row-1">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <a href="/pages/general-info/poster-logo/"><div class="services-group wow animated fadeInLeft" data-wow-offset="40">
                    <!-- <p class="services-icon"><i class="fa fa-plane fa-5x"></i></p> -->
                    <p class="logocard services-icon">
                        <img class="fa img-bottom" src="/assets/files/sqm2022-logo/T6-Blue.png">
                        <img class="fa img-top" src="/assets/files/sqm2022-logo/T6-White.png">
                    </p>
                    <h4 class="services-title" style="margin-top: 0px !important;">Poster/Logo</h4>
                </div>
            </a>
            </div>

            <!-- <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <a href="/pages/general-info/public-lecture/"><div class="services-group wow animated zoomIn" data-wow-offset="40">
                    <p class="services-icon"><i class="fa fa-microphone fa-5x"></i></p>
                    <h4 class="services-title">Public Lecture</h4>
                </div>
            </a>
            </div> -->

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <a href="/pages/general-info/bulletins/"><div class="services-group wow animated zoomIn" data-wow-offset="40">
                    <p class="services-icon"><i class="fa fa-book fa-5x"></i></p>
                    <h4 class="services-title">Bulletins</h4>
                </div>
            </a>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <a href="/pages/general-info/gallery/"><div class="services-group wow animated fadeInRight" data-wow-offset="40">
                    <p class="services-icon"><i class="fa fa-camera-retro fa-5x"></i></p>
                    <h4 class="services-title">Gallery</h4>
                </div>
            </a>
            </div>
        </div><hr>
            <!-- End Serivces Row 1 -->
        <!-- <div class="row services-row services-row-head services-row-1" style="margin:0; padding-top:1em; padding-bottom:1em; width:100%; background-color:#fff; border: solid 3px rgb(0, 120, 187)">
            {% for spr in site.sponsors %}
            {% unless spr.hide %}
            <div style ="float: left; width: 20%;">
                <a href={{ spr.homepage }} target="_blank">
                <img style="max-width:100%; max-height:100px; display: inline-block;  padding: 5px;" src={{ spr.logo }} alt="{% if spr.short_name %} {{ spr.short_name }} {% else %} {{ spr.long_name }} {% endif %}" >
                </a>
            </div>
            {% endunless %}
            {% endfor %}
        </div> -->
        <style>
            .home-sponsor-table td{
                width: 20vw;
                height: 10vw;
                padding: 0;
            }

            .home-sponsor-table img{
                max-width: 100%;
                display: inline-block;
                padding-left: 20%;
                padding-right:20%;
                padding-bottom: 0%;
                padding-top: 0%; 
            }

        </style>

        <div class="row services-row services-row-head services-row-1 home-sponsor-table" style="margin:0; padding-top:1em; padding-bottom:1em; width:100%; background-color:#fff; border: solid 3px rgb(0, 120, 187)">
            <table>
            {% assign spra = site.sponsors | where: "hide", "false" %}
            {% tablerow spr in spra cols:5 %}
            <!-- <div style ="float: left; width: 20%;"> -->
            <div style ="float: center; width: 100%;">
                <!-- <div style ="float: center;"> -->
                {% if spr.homepage %} <a href={{ spr.homepage }} target="_blank"> {% endif %} 
                <!-- <img style="max-width:100%; max-height:100px; display: inline-block;  padding: 5px; " src={{ spr.logo }} alt="{% if spr.short_name %} {{ spr.short_name }} {% else %} {{ spr.long_name }} {% endif %}" > -->
                <img class="home-sponsor-img" src={{ spr.logo }} alt="{% if spr.short_name %} {{ spr.short_name }} {% else %} {{ spr.long_name }} {% endif %}" >
                {% if spr.homepage %} </a> {% endif %}
            </div>
            {% endtablerow %}
            </table>
        </div>
    </div>      
</section>
<!-- End #services-section -->
