---
layout: default
---
<!-- Begin #carousel-section -->
<section id="carousel-section" class="section-global-wrapper"> 
    <div class="container-fluid-kamn">
        <div class="row">
            <div id="carousel-1" class="carousel slide" data-ride="carousel">

                <!-- Indicators -->
                <ol class="carousel-indicators visible-lg">
                    <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-1" data-slide-to="1"></li>
                    <li data-target="#carousel-1" data-slide-to="2"></li>
                </ol>
        
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <!-- Begin Slide 1 -->
                    <div class="item active">
                        <a href="#information">
                        <img src="/assets/img/slider/gate1.png" width="100%" height="600" alt="Image of first carousel">
                        <div class="carousel-caption">
                            <h3 class="carousel-title hidden-xs">Welcom to SQM2022 Conference</h3>
                            <p class="carousel-body">I am glad you enjoyed your visit</p>
                        </div>
                        </a>
                    </div>
                    <!-- End Slide 1 -->

                    <!-- Begin Slide 2 -->
                    <div class="item">
                        <a href="#information">
                        <img src="/assets/img/slider/gate2.png" width="100%" height="600" alt="Image of second carousel">
                        <div class="carousel-caption">
                            <h3 class="carousel-title hidden-xs">Welcom to SQM2022 Conference</h3>
                            <p class="carousel-body">I am glad you enjoyed your visit</p>
                        </div>
                        </a>
                    </div>
                    <!-- End Slide 2 -->

                    <!-- Begin Slide 3 -->
                    <div class="item">
                        <a href="#information">
                        <img src="/assets/img/slider/gate3.png" width="100%" height="600" alt="Image of third carousel">
                        <div class="carousel-caption">
                            <h3 class="carousel-title hidden-xs">Welcom to SQM2022 Conference</h3>
                            <p class="carousel-body">I am glad you enjoyed your visit</p>
                        </div>
                        </a>
                    </div>
                    <!-- End Slide 3 -->
                </div>
        
                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-1" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-1" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- End #carousel-section -->


<!-- Begin #services-section -->
<section id="services" class="services-section section-global-wrapper">
    <div class="container">
        <div class="row">
            <div class="services-header">
                <h3 id="information" class="services-header-title">Informations</h3>
                <p class="services-header-body" style="padding-left:8%; padding-right:8%;"><em> The 20th International Conference on Strangeness in Quark Matter </em>  </p><hr>
                <p class="services-body" style="font-size:17px; padding-left:12%; padding-right:12%;">This conference will focus on new experimental and theoretical developments on the role of strange and heavy-flavour quarks in high energy heavy ion collisions and in astrophysical phenomena. </p>
                <p class="services-body" style="font-size:17px; padding-left:12%; padding-right:12%;">SQM 2022 will be the 20th edition of the conference series following the recent events in New York (2021), Bari (2019) and Utrecht (2017). The full history of the SQM conferences is listed <a href="/history">here</a>. </p><hr><hr>
                <p class="services-header-body"><em>The scientific issues</em></p><hr>
                <ul style="padding-left:12%; padding-right:12%">
                    <li class="services-body" style="font-size:17px;">Strangeness and heavy-quark production in nuclear collisions and hadronic interactions</li>
                    <li class="services-body" style="font-size:17px;">Hadron resonances in the sQGP(strongly-interecting Quark-Gluon Plasma)</li>
                    <li class="services-body" style="font-size:17px;">Bulk matter phenomena associated with strange and other heavy quarks</li>
                    <li class="services-body" style="font-size:17px;">Strangeness in astrophysics</li>
                    <li class="services-body" style="font-size:17px;">QCD phase structure</li>
                    <li class="services-body" style="font-size:17px;">Collectivity in small systems</li>
                    <li class="services-body" style="font-size:17px;">The quadraquarks and pentaquarks.</li>
                    <li class="services-body" style="font-size:17px;">Open questions and new developments</li>
                </ul><hr>
            </div>
        </div>
      
        <!-- Begin Services Row 1 -->
        <div class="row services-row services-row-head services-row-1">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <a href="/timetable"><div class="services-group wow animated fadeInLeft" data-wow-offset="40">
                    <p class="services-icon"><span class="fa fa-cubes fa-5x"></span></p>
                    <h4 class="services-title">Scientific Information</h4>
                </div>
            </a>
            </div>
        
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <a href="/transport"><div class="services-group wow animated zoomIn" data-wow-offset="40">
                    <p class="services-icon"><i class="fa fa-plane fa-5x"></i></p>
                    <h4 class="services-title">Travels</h4>
                </div>
            </a>
            </div>
        
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <a href=""><div class="services-group wow animated fadeInRight" data-wow-offset="40">
                    <p class="services-icon"><i class="fa fa-plane fa-5x"></i></p>
                    <h4 class="services-title">IUPAP Policy statements</h4>
                </div>
            </a>
            </div>
        </div><hr>
            <!-- End Serivces Row 1 -->
        <div class="row services-row services-row-head services-row-1" style="width:80%; margin-left:10%; margin-right:10%;">
            <div style ="float: left; width: 20%;">
                <img src="/assets/img/slider/sponsor.png" width = "50%" alt="sponsor">
            </div>
            <div style ="float: left; width: 20%;">
                <img src="/assets/img/slider/sponsor.png" width = "50%" alt="sponsor">
            </div>
            <div style ="float: left; width: 20%;">
                <img src="/assets/img/slider/sponsor.png" width = "50%" alt="sponsor">
            </div>
            <div style ="float: left; width: 20%;">
                <img src="/assets/img/slider/sponsor.png" width = "50%" alt="sponsor">
            </div>
            <div style ="float: left; width: 20%;">
                <img src="/assets/img/slider/sponsor.png" width = "50%" alt="sponsor">
            </div>
        </div>
    </div>      
</section>
<!-- End #services-section -->